.zoba-switch {
  .zoba-switch__container {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .zoba-switch__checkbox {
      position: relative;
      appearance: none;
      outline: none;
      width: 4.8rem;
      height: 2.3rem;
      background-color: white;
      border: 0.2rem solid black;
      border-radius: 2.15rem;
      box-shadow: inset -2.5rem 0 0 0 black;
      transition-duration: 500ms;
      margin: 0;
      margin-right: 2.4rem;
      cursor: pointer;

      &:checked {
        border-color: blue;
        box-shadow: inset 2.3rem 0 0 0 blue;
      }

      &:focus {
        border-color: blue;
      }

      &:disabled {
        border-color: gray;
        box-shadow: inset -2.5rem 0 0 0 gray;
      }
    }

    & > :not(:first-child) {
      flex: 1;
    }
  }
}

.zoba-error-container {
  align-self: flex-start;
  height: 2.4rem;
  padding-top: 0.4rem;
  font-size: 1.2rem;
  color: red;
}
