@import "../../styles/variables.scss";

.z-accordion {
  &--expanded {
    background-color: blue;
  }

  .z-accordion__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 2rem;
    background-color: white;
    color: black;
    transition: background-color 0.2s;

    &:hover {
      background-color: blue;
    }

    .z-accordion__title {
      font-weight: bold;
    }

    .z-accordion__arrow {
      margin-left: 1rem;
      transition: transform 0.2s ease;

      &--flip {
        transform: rotate(180deg);
      }
    }
  }

  .z-accordion__content-container {
    width: 100%;
    overflow: hidden;
    transition: max-height 0.6s;

    .z-accordion__content {
      padding: 1rem 2rem;
    }
  }
}
